.actual-orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: 2rem auto;
  overflow: auto;
  box-shadow: 0 0 10px 1px hsla(0, 0%, 100%, 0.151);
  border-radius: 10px;

  .actual-orders-header {
    width: 100%;
    padding: 0 0 .5rem 0;

    h1 {
      color: var(--dark-red-color);
      font-weight: 500;
    }
  }

  select {
    text-align: center;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    width: 6rem;
    appearance: none;
  }

  select:focus {
    outline: none;
  }

  .orders-table {
    width: 100%;
    position: relative;
    background-color: rgba(128, 128, 128, 0.301);
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.137);

    .orders-table-columns {
      display: flex;
      flex-direction: row;
      background-color: rgb(145, 1, 1);
      padding: .5rem 0;
      min-width: 100vh;

      th {
        width: 50%;
      }
    }
  }
}