.actual-orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: 1rem auto;
  overflow: auto;
  box-shadow: var(--main-box-shadow);
  border-radius: var(--main-container-border-radius);

  .actual-orders-header {
    width: 100%;
    padding: 0 0 .5rem 0;

    h1 {
      color: var(--dark-red-color);
      font-weight: 500;
    }
  }

  .actual-orders-filter {
    display: flex;
    gap: .5rem;
    align-items: center;
    padding: 0 1rem;

    .filter-by-state {
      display: flex;
      align-items: center;
      gap: .5rem;
    }

    select {
      background-color: rgba(255, 255, 255, 0.842);
      border-radius: 5px;
      text-align: center;
      border: none;
      cursor: pointer;
      width: 6rem;
      appearance: none;
    }

    input {
      background-color: rgba(255, 255, 255, 0.842);
      border-radius: 5px;
      border: none;
      padding: 0 .5rem;
      width: 100%;
      max-width: 300px;
    }

    select:focus,
    input:focus {
      outline: none;
    }
  }

  .orders-table {
    width: 100%;
    position: relative;
    background-color: rgba(128, 128, 128, 0.301);
    box-shadow: var(--main-box-shadow);
    ;

    .orders-table-columns {
      display: flex;
      flex-direction: row;
      background-color: rgb(145, 1, 1);
      padding: .5rem 0;
      min-width: 100vh;

      th {
        width: 50%;
      }
    }
  }
}