.order,
.order-done {
  align-items: center;
  background-color: white;
  border-top: 5px solid black;
  color: black;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-around;
  width: 100%;
  min-width: 100vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .subOrders {
    width: 200%;

    .multiple-subOrder,
    .subOrder {
      width: 100%;
      display: flex;
      align-items: center;
      border-top: 1px solid rgba(128, 128, 128, 0.301);
      padding: .2rem 0;

      div {
        width: 50%;
        align-items: center;
      }
    }

    .subOrder {
      border: none;
    }
  }

  div {
    width: 50%;

    p {
      word-break: break-all;
      font-size: 1.1rem;
    }

    .date-text {
      font-size: 1rem;
    }

    .ready-button {
      display: flex;
      margin: auto;
      padding: 2px 10px;
      height: 100%;
      cursor: pointer;
      border-radius: 5px;
      border: none;
      background-color: rgba(145, 1, 1, 0.63);
      color: white;
      transition: .3s;
      letter-spacing: 2px;
    }

    .ready-button:hover {
      background-color: rgb(145, 1, 1);
    }
  }

  // .passed-time {}
}

.order-done {
  background-color: rgb(158, 158, 158);

  .done-text {
    font-weight: bold;
  }
}