.order,
.order-done {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  color: black;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-around;
  padding: .1rem 0;
  width: 100%;

  div {
    width: 100%;

    p {
      word-break: break-all;
      font-size: 1.2rem;
    }

    .date-text {
      font-size: 1rem;
    }
  }
}

.order-done {
  background-color: rgb(133, 133, 133);
}