.order,
.order-done {
  align-items: center;
  background-color: white;
  border-top: 5px solid black;
  color: black;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-around;
  padding: .1rem 0;
  width: 100%;
  min-width: 100vh;

  .subOrders {
    width: 100%;
    display: flex;
    flex-direction: column;

    .subOrder {
      width: 100%;
      display: flex;
      flex-direction: row;

      div {
        min-width: 155px;
        align-items: center;
      }
    }
  }

  div {
    width: 100%;

    p {
      word-break: break-all;
      font-size: 1.2rem;
    }

    .date-text {
      font-size: 1rem;
    }

    button {
      display: flex;
      margin: auto;
    }
  }
}

.order-done {
  background-color: rgb(133, 133, 133);
}