.order,
.order-done {
  align-items: center;
  background-color: white;
  border-top: 5px solid black;
  color: black;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-around;
  width: 100%;
  min-width: 100vh;

  .subOrders {
    width: 200%;

    .subOrder {
      width: 100%;
      display: flex;
      align-items: center;
      border-top: 1px solid rgba(128, 128, 128, 0.301);
      border-bottom: 1px solid rgba(128, 128, 128, 0.301);

      div {
        width: 50%;
        align-items: center;
      }
    }
  }

  div {
    width: 50%;

    p {
      word-break: break-all;
      font-size: 1.2rem;
    }

    .date-text {
      font-size: 1rem;
    }

    button {
      display: flex;
      margin: auto;
    }
  }
}

.order-done {
  background-color: rgb(133, 133, 133);
}