.createEmployee-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  border-radius: var(--main-container-border-radius);
  box-shadow: var(--main-box-shadow);
  padding: 1rem;
  border-radius: 4px;
  margin: 1rem 0;

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-weight: 500;
    margin-bottom: .2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;

    input {
      padding: 0 1rem;
      border-radius: 4px;
      border: none;
      outline: none;
      height: 1rem;
      margin: .2rem 0;
      align-items: center;
    }

    .isAdmin {
      background-color: white;
      border-radius: 4px;
      display: flex;
      justify-content: space-between;
      color: black;
      padding: 0 1rem;
      height: 1rem;
      margin: .2rem 0;
      align-items: center;
    }

    button {
      cursor: pointer;
      margin: .2rem 0;
    }
  }
}