.nav {
  height: 35px;
  background-color: rgba(0, 0, 0, 0.692);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--main-box-shadow);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;

  a {
    width: 100%;
  }

  .nav-button,
  .nav-button-active {
    height: 35px;
    cursor: pointer;
    width: 100%;
    min-width: 5rem;
    transition: .3s;
    font-weight: bold;
    background-color: rgba(145, 1, 1, 0.63);
    border: none;
    color: lightgray;
  }

  .nav-button:hover,
  .nav-button-active:hover {
    background-color: rgb(145, 1, 1);
    color: white;
  }

  .nav-button-active {
    background-color: rgb(145, 1, 1);
    filter: brightness(1.1);
    transition: .5s;
  }
}