@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Saira Condensed', sans-serif;
}

body {
  background-color: black;
  padding-top: 35px;
  color: white;
  text-align: center;
}

html {
  overflow-y: overlay
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(61, 61, 61) rgba(164, 164, 164, 0.402);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.74);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(61, 61, 61);
  border-radius: 10px;
}