.pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: .5rem 0;
  border-top: 1px solid rgba(211, 211, 211, 0.116);
  min-width: 100vh;

  .page,
  .currentPage {
    z-index: 999;
    margin: 0 .1rem;
    background-color: rgba(145, 1, 1, 0.63);
    color: white;
    width: 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .page:active,
  .currentPage:active {
    box-shadow: 0 0 6px 1px rgba(255, 255, 255, 0.192);
    opacity: .5;
  }

  .currentPage:hover,
  .page:hover {
    background-color: rgb(145, 1, 1);
  }

  .currentPage {
    background-color: rgb(145, 1, 1);
    filter: brightness(1.1);
  }
}