.products-container {
  margin: auto;
  color: black;
  width: 95%;
  margin: 2rem auto;
  overflow: auto;
  border-radius: var(--main-container-border-radius);
  box-shadow: var(--main-box-shadow);
  max-width: 500px;

  h1 {
    color: var(--dark-red-color);
    font-weight: 500;
  }

  .product {
    border-top: 2px solid black;
    background-color: white;
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px;
    font-size: 1.1rem;
    padding-left: .5rem;

    p {
      margin: 0 1rem;
    }

    button {
      text-align: center;
      cursor: pointer;
      width: 1.85rem;
      border-radius: 20px 0 0 20px;
      border: none;
      background-color: red;
      font-size: 1.1rem;
      box-shadow: 0 5px 10px 1px black;
      transition: .5s;
    }

    button:hover {
      background-color: black;
      color: red;
    }
  }
}